<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>


 <iframe id="iframepdf" src="https://s3.amazonaws.com/airbridge-wdi/images/NZAA-Draft8-AMENDED-BYLAWS.pdf
" width="900" height="750"></iframe>


<!--  <iframe id="iframepdf" src="/images/NZAA-Draft8-AMENDED-BYLAWS.pdf" width="900" height="750"></iframe>
 -->    <!-- <img src="/images/Minutes-July2016.pdf" alt="Not displaying..."> -->

<br>


<br>


  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
