<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

    <div>
      <h3>All Minutes:</h3>
      <div>
      <% minutes.forEach(function(minute) { %>
        <dl class="dl-horizontal">
          <dt>Date of</dt><dd><%= minute.dateOf %></dd>
          <dt>Type</dt><dd><%= minute.type %></dd>
          <dt>Approved</dt><dd><%= minute.approved %></dd>
          <dt>Headline</dt><dd><%= minute.headline %></dd>
        </dl>
      <% }) %>
      </div>
    </div>

<br>


<br>



<iframe id="iframepdf" src="/images/Minutes-July2016.pdf" width="450" height="500"></iframe>

<iframe id="iframepdf" src="/images/Agenda-July2016.pdf" width="450" height="500"></iframe>
    <!-- <img src="/images/Minutes-July2016.pdf" alt="Not displaying..."> -->



  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
