<!-- <img src="/images/mainstrip.jpg" alt="Not displaying..."> -->

<img src="https://s3.amazonaws.com/airbridge-wdi/images/mainstrip.jpg" alt="AWS not serving">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>New Zealand Atlanta Association <% if (currentUser) { %><span> - Members Area</span><% } %>
      </a>
    </div>

  <ul class="nav navbar-nav navbar-left">
   <li><a href="/">Home</a></li>
   <% if (currentUser) { %>
    <li><a href="/minutes">Minutes</a></li>
    <li><a href="/minutes/constitution">Constitution</a></li>

    <% } %>

    </ul>


    <ul class="nav navbar-nav navbar-right">

      <% if (currentUser) { %>

        <li><a href="#"><%= currentUser.local.email %>
        <% if (currentUser.role === 'boardMember') { %>
          <span>(Board Member)</span>
        <% } %>
        </a></li>

        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      <% } %>
    </ul>
  </div>

  <div class="flash">
  <% if (typeof message !== 'undefined') { %>
    <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
      <div class="bg-danger"><%= message.error %></div>
    <% } %>
    <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
      <div class="bg-info"><%= message.info %></div>
    <% } %>
    <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
      <div class="bg-success"><%= message.success %></div>
    <% } %>
  <% } %>
</div>

</nav>

