<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Front Page</h1>
      <button class="btn btn-primary well">Does Bootstrap work?</button>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

 </body>
</html>
