<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <!-- div class="jumbotron"> -->
      <a href="mailto:#"><button class="btn-lg btn-success">Interested in volunteering? Becoming a Board Member someday? Click to email a Kiwi!</button></a>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

 </body>
</html>
