body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.todo-form {
  max-width: 400px;
}
.headstrip {
  width: 0 auto;
  overflow: hidden;
}
.dashboard {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
.crest {
  align-content:  center;
}
.userinfo {
  overflow: scroll;
  width: 50%;
}
.freshminute {
  width: 50%;
  background-color: teal;
}
.minutebox {
  display: flex;
  flex-direction: column-reverse;
}
.iframebox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
[class|="author"] {
    border-style: solid;
    border: 20px auto;
    border-color: green;
}
